body {
  margin: 0;
  font-family: 'Inter', system-ui;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #e7f6ff;
}

* {
  font-family: 'Inter', system-ui;
}

.wrapper{
background: #FFFFFF;
box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.04);
border-radius: 20px;
max-width: 1080px ;
margin: 50px auto;
}

header {
  padding: 40px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #eaeaea;
  .headerLeft{
    display: flex;
    align-items: center;
    img{
      margin-right: 15px;
    }
  h3,
  p{
    margin: 0;
  }

  .store
  {
    opacity: 0.5;
  }
 }
  .headerRight 
  {
    display: flex;
    .cart {
      margin-right: 30px !important;
    }
    li {list-style:none; }
    ul{
    margin: 0;
    padding: 0;
    }
  }
 .cart{
  cursor: pointer;
  }
}

.Rs{
  text-transform: uppercase;
}

.content
{
  padding: 40px;
  h1
  {
    margin: 0;
  }
}


.Sneakers{
  display: flex;
  flex-wrap: wrap;
}

.Searching{
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 40px;
  margin-left: 0px;
}

.search-block{
  position: relative;
  display: flex;
  border: 1px solid #f3f3f3;
  border-radius: 10px;
  padding: 0 15px;
  .searchIcon{
    padding-right: 13.75px;  
  }
  input{
    outline: none;
    border: 0;
    padding: 13px;
    font-size: 16px;
    width: 200px;
  }
  .clear {
    position: absolute;
    right: 0px;
    top: 14px;
    width: 18px;
    height: 18px;
    right: 15px;
  }
}

.overlay{
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.1);
  z-index: 1;
}

.drawer{
position: absolute;
width: 420px;
height: 100%;
right: 0;
background: #FFFFFF;
box-shadow: -10px 4px 24px rgba(0, 0, 0, 0.1);
padding: 30px;
display: flex;
flex-direction: column;
.items{
  flex: 1;
  overflow: auto;
}
h2{
  display: flex;
  justify-content: space-between;
  margin: 30px;
  margin-bottom: 0px;
  margin-top: 0px;
  padding: 0;
  .removeBtn{
    cursor: pointer;
  }
}
}

.cartTotalBlock{
  ul{
  margin: 20px;
  padding: 0;
    
    li{
    display: flex;
    align-items: flex-end;
    margin-bottom: 20px ;
      div{
        flex: 1;
        height: 1px;
        border-bottom: 1px dashed #dfdfdf;
        position: relative;
        top: -4px;  
        margin: 0 7px;
        }
    }
  }
  .greenButton{
    position: relative;

    &:hover{
      img{
        transform: translateX(10px);
      }
    }

    img {
      position: absolute;
      right: 30px;
      top: 20px;
      transition: transform 0.15 s ease-in-out;
      
    }
  }
}
  .greenButton{
    margin-left: 20px;
    padding: 0;
    width: 91%;
    height: 55px;
    background: #9DD558;
    border-radius: 18px;
    border: 0;
    color: white;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    transition: background 0.1s ease-in-out;  

    &:hover{
      background: lighten(#9dd558, 5%);
    }

    &:active{
      background: darken(#9dd558, 5%);
    }
  }

.cartItem{
  border: 1px solid #f3f3f3;
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  align-items: center;
  padding: 0 20px 0 0;
  margin: 20px;

  .cartItemImg{
    height: 70px;
    width: 70px;
    background-size: contain;
    background-position: 0 10px;
    background-repeat: no-repeat;
    margin-right: 20px;
    margin-left: 20px;
     
  .cartItemText{
    flex: 1;
    padding-bottom: 100px;
  }
  }
  p{
    font-size: 16px;
    margin: 0px;
    padding: 20px;
    padding-bottom: 10px;
  }
  b{
    padding-left: 20px;
    margin-bottom: 30px;
    font-size: 14px
  }
  .removeBtn{
    opacity: 0.5;
    cursor: pointer;
    transition: opacity 0.15s ease-in-out;
    &:hover{
      opacity: 1;
    }
  }
}

.cartEmpty{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  flex: 1;
  .emptyCartImg{
    margin-bottom: 20px;
    width: 120px;
    height: 120px;
  }
  p{
    opacity: 0.6;
  }
  .greenButton{
    width: 245px;
    margin-top: 2px;

    &:hover {
      img{
        transform: rotate(180deg) translateX(3px);
      }
    }
    img {
      position: relative;
      top: 1px;
      transform: rotate(180deg);
      margin-right: 15px;
      transition: transform 0.15s ease-in-out;
    }
  }
}



